.Hero{
    max-width: 89%;
    margin: auto;
    min-height: calc(100vh - 76px);
    display: flex;
    align-items: center;
}
.Hero .textSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(78, 183, 127);
}
.Hero .textSide .icons{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.Hero .textSide .icons i{
    padding: 16px;
    border: 2px solid black;
    border-radius: 4px;
}
.Hero .imageSide {
    width: 50%;
}
.Hero .imageSide img{
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .Hero{
        min-height: unset;
        flex-direction: column-reverse;
        margin-top: 50px;
        gap: 50px;
    }
    .Hero .textSide{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Hero .imageSide {
        width: 100%;
        text-align: center;
    }
    .Hero .imageSide img{
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    .displayText-Regular,
    .displayText-ExtraBold,
    .outlined-ExtraBold{
        font-size: 20px;
    }
    .Hero .textSide .icons{
        gap: 15px;
    }
    .Hero .textSide .icons i{
        padding: 12px;
        border: 2px solid black;
        border-radius: 4px;
    }
}
